services:
  - type: web
    name: discord-bot
    runtime: python
    rootDir: bot
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: API_HOST
        value: 0.0.0.0
      - key: API_PORT
        value: 10000
      - key: PYTHON_VERSION
        value: 3.11.0
